<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Que jogo voce é?
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="!isDone">
    <ion-card-header>
      <ion-card-title>{{questions[currentQuestion].text}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-radio-group name="auto" [(ngModel)]="questions[currentQuestion].selectedOption">
          <ion-item *ngFor="let option of questions[currentQuestion].options; let i = index">
            <ion-label>{{option}}</ion-label>
            <ion-radio slot="start" [value]="i" ></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
      <ion-button (click)="next()" expand="block" [disabled]="questions[currentQuestion].selectedOption == null" fill="clear" shape="round">
        <ion-icon slot="end" name="chevron-forward"></ion-icon>
        Próxima pergunta
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card color="primary" *ngIf="isDone">
    <img [src]="possibleResults[mostVoted].image" [alt]="possibleResults[mostVoted].name">
    <ion-card-content>
      <h2>Finalizado</h2>
      <p>Você deveria jogar {{possibleResults[mostVoted].name}}</p>

      <ion-button (click)="confirmReset()" expand="block" shape="round" color="light" class="ion-margin-top">
        <ion-icon slot="start" name="refresh"></ion-icon>
        Jogar de novo
      </ion-button>
    </ion-card-content>
  </ion-card>

 
</ion-content>